/*
*
* Breakpoint cheat sheet.
* $screen-sm-min - 544
* $screen-md-min - 768
* $screen-lg-min - 992
* $screen-xl-min - 1200
* 
* 143 Autoprefixers
*
* Warning: Drinking and coding can be hazardous to your application's health.
*
* ------------------------------------------------------------------ /

/*
* HTML & BODY
*/
html{

	height: 100%; 
	width: 100%;
	font-size: 10px;
	color: #FFF;
	overflow: hidden;
	body{
		height: 100%;
		width: 100%;
	}

}

/* 
* All sections are wrapped in a 
* <div .main-container></div>
*/
.main-container
{
	height: 100%;
	width: 100%;
}

/*
* Site Navigation Trigger
*/
#site-navigation-toggle
{

	@extend .pull-right;

	position: absolute;
	top: .5vmax;
	right: .025vmax;
	z-index: 999;
	padding: 0px 15px;
	background: #FFF;
	border: thin solid transparent;
	border-radius: 4px;

	color: $gray-lighter;
	font-size: 2vmax;

	cursor: pointer;

	transition: all ease-in-out 0.5s;

	@media (min-width: $screen-sm-min){ font-size: 2vmax; }
	@media (min-width: $screen-md-min){ font-size: 1.75vmax; }
	@media (min-width: $screen-lg-min){ font-size: 1.5vmax; }
	@media (min-width: $screen-xl-min){ font-size: 1.25vmax; }

	&:hover
	{
		color: $gray-light;
	}

	i
	{
		margin: 0;
		padding: 0;
	}

}

/*
* Vertical Site Navigation
* Straight Up!
* ...
* (get it?)
* #illhaveabetterjokenexttime
*/
#site-navigation
{

	@extend .bg-navigation;

	height: auto;
	width: 100vw;
	position: absolute;
	padding: 10px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;

	border-bottom: 1px solid $gray-light;
	box-shadow: inset 1px -4px 9px -6px rgba(0,0,0,1);

	color: #FFF;

	@media (min-width: $screen-md-min)
	{

		height: 100vh;
		width: 225px;

		border-bottom: none;
		border-right: 1px solid $gray-light;
		box-shadow: inset -4px 1px 9px -6px rgba(0,0,0,1);

	}

	.close
	{
		align-self: flex-end;
	}

	section.menu-items
	{

		margin-top: 20vmax;
		height: 20vmax;
		margin-bottom: 30vmax;

		font-size: 2.5vmax;
	
		a{ color: #FFF; }
		a:hover{ color: #FFF; text-decoration: none; }
	
		@media (min-width: $screen-sm-min){ font-size: 2vmax; }
		@media (min-width: $screen-md-min){ font-size: 1.75vmax; }
		@media (min-width: $screen-lg-min){ font-size: 1.5vmax; height: 17vmax; margin-top: 15vmax; margin-bottom: 20vmax; }
		@media (min-width: $screen-xl-min){ font-size: 1.25vmax; height: 15vmax; margin-top: 13vmax; margin-bottom: 13vmax; }

		ul
		{

			@extend .font-face-raleway;

			padding: 0px;

			list-style: none;

			li
			{

				margin: 1vmin 0 1vmin 0;

				border-bottom: thin solid transparent;

				text-align: center;
				cursor: pointer;

				transition: all ease-in-out 0.5s;

				&:hover{

					border-bottom-color: #FFF;
				}
			}
		}
	}

	section.contact-info
	{

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;

		ul
		{

			@extend .font-face-open-sans;

			padding: 0px;

			list-style: none;

			li
			{

				text-align: left;
				cursor: pointer;

				transition: all ease-in-out 0.5s;

				&:hover{}

				i
				{
					text-align: center;
					width: 2.5vmax;

					font-size: 2.25vmax;

					@media (min-width: $screen-sm-min){ font-size: 2vmax; }
					@media (min-width: $screen-sm-min){ font-size: 1.75vmax; }
					@media (min-width: $screen-lg-min){ font-size: 1.5vmax; }

				}

				label
				{

					@extend .font-anti-alias;

					font-size: 1.75vmax;

					@media (min-width: $screen-sm-min){ font-size: 1.5vmax; }
					@media (min-width: $screen-sm-min){ font-size: 1.25vmax; }
					@media (min-width: $screen-lg-min){ font-size: 1vmax; }
				}
			}
		}
	}

}

#home-page
{

	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;

	position: relative;
	z-index: 100;
	overflow: hidden;

	background: #FFF;

	.home-container{

		.introduction{

			@extend .row;

			height: 35vh;
			background: #FFFFFF;

			padding-right: 5vh;
			padding-left: 5vh;

			@media (min-width: $screen-sm-min) {

				padding-right: 0;
				padding-left: 0;

				padding-top: 5vh;
				padding-bottom: 5vh;
			}

			.name{

				@extend .col-xs-12;
				@extend .col-sm-4;
				@extend .font-face-raleway;

				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;

				color: $gray-lighter;
				text-align: left;
				font-size: 4vmax;

				border-bottom: thin solid #c3c3c3;

				@media (min-width: $screen-sm-min) {

					padding-right: 20px;

					text-align: right;
					border-bottom: none;
					border-right: thin solid #c3c3c3;

					font-size: 3.0vmax;
				}
				

			}
	
			.descriptions{

				@extend .col-xs-12;
				@extend .col-sm-8;
				@extend .font-face-open-sans;

				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-end;

				padding-top: 10px;

				color: $gray-lighter;
				text-align: right;
				font-size: 1.5vmax;
				line-height: 2.25vmax;

				@media (min-width: $screen-sm-min) {

					flex-direction: column;
					align-items: flex-start;
					justify-content: center;

					padding-top: 0px;
					padding-left: 20px;

					text-align: left;
					font-size: 1vmax;
					line-height: 1.75vmax;

				}

			}

		}

		.jumbo{

			height: 65vh;
			overflow: hidden;
			background: #d3d3d3;

			border-top: thin solid #979797;

			img{ 
				margin-top: -40%;
				height:auto;
				max-width:100%;
			}

		}

	}

}

#about-page
{

	height: 100vh;
	width: 100vw;

	position: relative;
	z-index: 200;
	overflow: hidden;

	background: #FFF;

	.about-container
	{

		@extend .row;

		.instgram-grid-container
		{

			@extend .col-xs-1;
			@extend .col-sm-5;

			.instagram-grid
			{

				.grid-item
				{

					@extend .col-xs-12;
					@extend .col-sm-4;
					@extend .col-md-3;

					padding: 0px;

					border: thin solid white;

					img
					{

						max-width: 100%;
						height: auto;
						
						filter: grayscale(100%);
						opacity: .75;
			
						transition: all ease-in-out 0.5s;
			
						&:hover{
							opacity: 1;
							filter: none;
						}
					}
				}
			}
		}

		.details
		{

			@extend .col-xs-10;
			@extend .col-sm-7;

			padding: 20px;

			.intro
			{

				@extend .font-face-raleway;

				margin-bottom: 20px;

				font-size: 1.5vmax;
				color: $gray-light;
			}

			.title-bar
			{

				overflow: hidden;

				cursor: pointer;

				label
				{
					cursor: pointer;
					font-size: 1vmax;
				}

			}

			.copy
			{
				margin-bottom: 30px;
				font-size: 1vmax;
				color: $gray;
			}
		}

	}
}

#work-page
{

	height: auto;
	width: 100vw;

	position: relative;
	z-index: 300;
	overflow: hidden;

	background: #FFF;

	.work-container
	{

		@extend .row;

		padding: 20px;

		.card-container
		{

			@extend .col-xs-6;
			@extend .col-sm-4;
			@extend .col-md-3;

			.card 
			{
				@extend .card;

				img
				{
					max-width: 100%;
					height: auto;
				}

				.card-descrip,
				.card-tech
				{
					label
					{
						font-weight: 600;
					}
				}

			}
		}
	}
}