$site-header-height:				5.75rem;

$site-navigation-width:				5rem;

$site-logo-height:					4rem;

$colors-midnight-blue:				#020022;
$colors-navy-blue:					#06265a;

$colors-error-msg:					#a94442;
$colors-success-msg:				#3c763d;